<!-- Script for vercel analytics -->
<script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>

<% if (filename === '/' || filename === '/index') { %>
<!-- Header for 'index' route -->
<div class="progress-container progress-bar" id="myBar"></div>
<header class="header" id="header">
  <nav class="nav container">
    <a href="#" class="nav__logo">
      <img src="/assets/img/boticon.png" style="top: 50px; left: 50px; height: 40px" />
    </a>

    <div class="nav__menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link active-link">
            <i class="bx bx-home-alt-2"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#popular" class="nav__link">
            <i class="bx bx-award"></i>
            <span>Features</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#value" class="nav__link">
            <i class="bx bx-help-circle"></i>
            <span>FAQs</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Theme change button -->
    <i class="bx bx-moon change-theme" id="theme-button"></i>
    <a href="/invite" class="button nav__button"> Invite Me </a>
    <!-- Dropdown menu -->
    <div class="sec-center"> 	
	  	<input class="dropdown nav__link" type="checkbox" id="dropdown" name="dropdown"/>
	  	<label class="for-dropdown" for="dropdown"><i class="uil menu-icon"></i>
        <i class="uil cross-icon"></i></label>
  		<div class="section-dropdown"> 
  			<a href="/commands">Commands<i class="uil uil-arrow-right"></i></a>
  			<a href="https://dash.skyhelper.xyz">Dashboard<i class="uil uil-arrow-right"></i></a>
  			<a href="https://docs.skyhelper.xyz">Documentations<i class="uil uil-arrow-right"></i></a>
  		</div>
  	</div>
  </nav>
</header>

<% } else { %>
<!-- Header for other routes -->
<div class="progress-container progress-bar" id="myBar"></div>
<header class="header" id="header">
  <nav class="nav container">
    <a href="/" class="nav__logo">
      <img src="/assets/img/boticon.png" style="top: 50px; left: 50px; height: 40px" />
    </a>

    <!-- Home Buttons -->
     <a href="/" class="nav__link">
      <i class='bx bx-home-alt-2'></i>
      <span>Home</span>
     </a>

    <!-- Theme change button -->
    <i class="bx bx-moon change-theme" id="theme-button"></i>
    <a href="/invite" class="button nav__button"> Invite Me </a>
     <!-- Dropdown menu -->
     <div class="sec-center"> 	
	  	<input class="dropdown nav__link" type="checkbox" id="dropdown" name="dropdown"/>
	  	<label class="for-dropdown" for="dropdown"><i class="uil menu-icon"></i>
        <i class="uil cross-icon"></i></label>
  		<div class="section-dropdown"> 
  			<a href="/commands">Commands<i class="uil uil-arrow-right"></i></a>
  			<a href="https://dash.skyhelper.xyz">Dashboard<i class="uil uil-arrow-right"></i></a>
  			<a href="https://docs.skyhelper.xyz">Documentations<i class="uil uil-arrow-right"></i></a>
  		</div>
  	</div>
  </nav>
</header>
<% } %>
